<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">A Little Bit About Me...</h2>
	</div>

	<div class="panel-body">
		<p>My name is Spencer Brown.  I'm an 18 year-old studying Computer Science at Purdue University.</p>
	</div>
</div>